<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Свети свештеномученик Патрикије</string>
	<key>10</key>
	<string>Преподобни Никита Исповедник</string>
	<key>11</key>
	<string>Преподобномученица Теодосија Тирска - Летње (духовске) задушнице</string>
	<key>12</key>
	<string>+++ СИЛАЗАК СВЕТОГ ДУХА НА АПОСТОЛЕ - ДУХОВИ - ТРОЈИЦЕ</string>
	<key>13</key>
	<string>+++ ДУХОВСКИ ПОНЕДЕЉАК</string>
	<key>14</key>
	<string>+++ ДУХОВСКИ УТОРАК; Преподобни Јустин Поповић</string>
	<key>15</key>
	<string>Свети мученик Никифор</string>
	<key>16</key>
	<string>Свети мученик Лукилијан</string>
	<key>17</key>
	<string>Свете Марта и Марија</string>
	<key>18</key>
	<string>Свети свештеномученик Доротеј-Преподобни Петар Коришки</string>
	<key>19</key>
	<string>Преподобни Висарион и Иларион Нови (Петровске Покладе)</string>
	<key>2</key>
	<string>+++ВАЗНЕСЕЊЕ ГОСПОДЊЕ - СПАСОВДАН</string>
	<key>20</key>
	<string>Свети свештеномученик Теодор Анкирски (Почетак поста)</string>
	<key>21</key>
	<string>Свети великомученик Теодор Стратилат</string>
	<key>22</key>
	<string>Свети Кирило Александријски</string>
	<key>23</key>
	<string>Свети свештеномученик Тимотеј Бруски</string>
	<key>24</key>
	<string>Свети апостоли Вартоломеј и Варнава</string>
	<key>25</key>
	<string>Преподобни Онуфрије Велики</string>
	<key>26</key>
	<string>Света мученица Акилина</string>
	<key>27</key>
	<string>Свети пророк Јелисеј</string>
	<key>28</key>
	<string>+++СВ. МУЧЕНИК КНЕЗ ЛАЗАР И СВ. СРПСКИ МУЧЕНИЦИ - ВИДОВДАН</string>
	<key>29</key>
	<string>Свети Тихон Аматунски Чудотворац</string>
	<key>3</key>
	<string>+++ СВЕТИ ЦАР КОНСТАНТИН И ЦАРИЦА ЈЕЛЕНА</string>
	<key>30</key>
	<string>Свети мученици Мануил, Савел и Исмаил</string>
	<key>4</key>
	<string>Свети мученик Јован Владимир</string>
	<key>5</key>
	<string>Преподобни Михајло Исповедник</string>
	<key>6</key>
	<string>Преподобни Симеон Дивногорац</string>
	<key>7</key>
	<string>Треће обретење главе светог Јована Крститеља</string>
	<key>8</key>
	<string>Свети апостол Карп и Алфеј</string>
	<key>9</key>
	<string>Свети свештеномученик Терапонт</string>
</dict>
</plist>
