<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Свети мученици Хрисант и Дарија, и други с њима</string>
	<key>10</key>
	<string>Преподобни Иларион Нови, исповедник</string>
	<key>11</key>
	<string>Преподобни Марко Исповедник, епископ Аретусијски у Сирији</string>
	<key>12</key>
	<string>Преподобни Јован Лествичник</string>
	<key>13</key>
	<string>Свештеномученик Ипатије Гангријски</string>
	<key>14</key>
	<string>Света Марија Египћанка</string>
	<key>15</key>
	<string>Преподобни Тит Чудотворац</string>
	<key>16</key>
	<string>Преподобни Никита Исповедник - Лазарева субота - Врбица</string>
	<key>17</key>
	<string>+++УЛАЗАК ГОСПОДА ИСУСА ХРИСТА У ЈЕРУСАЛИМ - ЦВЕТИ</string>
	<key>18</key>
	<string>Свети мученици Агатопод и Теодул</string>
	<key>19</key>
	<string>Свети Евтихије Цариградски</string>
	<key>2</key>
	<string>Преподобни мученици Јован и други</string>
	<key>20</key>
	<string>Преподобни Георгије исповедник</string>
	<key>21</key>
	<string>Велики Четвртак (Велико бденије)</string>
	<key>22</key>
	<string>ВЕЛИКИ ПЕТАК - РАСПЕЋЕ ХРИСТОВО</string>
	<key>23</key>
	<string>ВЕЛИКА СУБОТА</string>
	<key>24</key>
	<string>ВАСКРС</string>
	<key>25</key>
	<string>ВАСКРСНИ ПОНЕДЕЉАК</string>
	<key>26</key>
	<string>ВАСКРСНИ УТОРАК</string>
	<key>27</key>
	<string>Свети Мартин исповедник, папа Римски</string>
	<key>28</key>
	<string>Свети апостоли Аристарх, Пуд и Трофим</string>
	<key>29</key>
	<string>Свете мученице Агапија, Хионија и Ирина</string>
	<key>3</key>
	<string>Свети Јаков, епископ и исповедник</string>
	<key>30</key>
	<string>Преподобни Симеон епископ Персијски</string>
	<key>4</key>
	<string>Свештеномученик Василије, презвитер анкирски</string>
	<key>5</key>
	<string>Преподобномученик Никон и други</string>
	<key>6</key>
	<string>Преподобни Захарије</string>
	<key>7</key>
	<string>БЛАГОВЕСТИ</string>
	<key>8</key>
	<string>Свети Архангел Гаврил</string>
	<key>9</key>
	<string>Преподобна Матрона Солунска</string>
</dict>
</plist>
