<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Преподобна Макрина - Свети Стефан, Деспот српски</string>
	<key>10</key>
	<string>Свети апостоли и ђакони Прохор, Никанор, Тимон и Пармен</string>
	<key>11</key>
	<string>Свети мученик Калиник</string>
	<key>12</key>
	<string>Преподобна мати Ангелина српска</string>
	<key>13</key>
	<string>Свети мученик Евдоким</string>
	<key>14</key>
	<string>Изношење Часног Крста; св. мученици Макавеји (Почетак поста)</string>
	<key>15</key>
	<string>Пренос моштију светог првомученика и архиђакона Стефана</string>
	<key>16</key>
	<string>Преподобни Исакије, Далмат и Фавст</string>
	<key>17</key>
	<string>Светих седам мученика у Ефесу</string>
	<key>18</key>
	<string>Свети свештеномученик Евсигније (Претпразништво Преображења)</string>
	<key>19</key>
	<string>+++ ПРЕОБРАЖЕЊЕ ГОСПОДЊЕ</string>
	<key>2</key>
	<string>+++ СВЕТИ ПРОРОК ИЛИЈА - ИЛИНДАН</string>
	<key>20</key>
	<string>Преподобномученик Дометије</string>
	<key>21</key>
	<string>Свети Емилијан Исповедник</string>
	<key>22</key>
	<string>Свети апостол Матија</string>
	<key>23</key>
	<string>Свети мученик и архиђакон Лаврентије</string>
	<key>24</key>
	<string>Свети мученик и архиђакон Евпло</string>
	<key>25</key>
	<string>Свети мученици Фотије, Аникита и други с њима</string>
	<key>26</key>
	<string>Свети мученик Иполит (Оданије преображења)</string>
	<key>27</key>
	<string>Свети пророк Михеј (Претпразништво Успенија)</string>
	<key>28</key>
	<string>+++ УСПЕНИЈЕ ПРЕСВЕТЕ БОГОРОДИЦЕ - ВЕЛИКА ГОСПОЈИНА</string>
	<key>29</key>
	<string>Свети Јевстатије, Други Арх. српски</string>
	<key>3</key>
	<string>Свети пророк Језекиљ</string>
	<key>30</key>
	<string>Свети мученик Патрокло</string>
	<key>31</key>
	<string>Свети мученик Флор</string>
	<key>4</key>
	<string>Света Марија Магдалена - Блага Марија</string>
	<key>5</key>
	<string>Свети мученици Трофим, Теофил и други</string>
	<key>6</key>
	<string>Света великомученица Христина</string>
	<key>7</key>
	<string>Успеније Свете Ане</string>
	<key>8</key>
	<string>Преподобномученица Параскева - Петка</string>
	<key>9</key>
	<string>Свети великомученик Пантелејмон</string>
</dict>
</plist>
