<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Свети мученик Бонифатије</string>
	<key>10</key>
	<string>Светих 20.000 мученика Никомидијских</string>
	<key>11</key>
	<string>Светих 14.000 младенаца Витлејемских</string>
	<key>12</key>
	<string>Света мученица Анисија</string>
	<key>13</key>
	<string>Преподобна Меланија</string>
	<key>14</key>
	<string>+++ ОБРЕЗАЊЕ ГОСПОДЊЕ; СВ. ВАСИЛИЈЕ ВЕЛИКИ (НОВА ГОДИНА)</string>
	<key>15</key>
	<string>Преп. Серафим Саровски</string>
	<key>16</key>
	<string>Свети пророк Малахија</string>
	<key>17</key>
	<string>Сабор 70 светих апостола</string>
	<key>18</key>
	<string>Свети Теопемт и Теона - Крстовдан</string>
	<key>19</key>
	<string>+++ БОГОЈАВЉЕЊЕ</string>
	<key>2</key>
	<string>Св. Игњатије Богоносац; Св. Данило, Други Арх. српски (Претпразништво Рождества) - Оци</string>
	<key>20</key>
	<string>+++ САБОР СВЕТОГ ЈОВАНА КРСТИТЕЉА - ЈОВАЊДАН</string>
	<key>21</key>
	<string>Св. муч. Јулијан и Василиса</string>
	<key>22</key>
	<string>Свети мученик Полиевкт</string>
	<key>23</key>
	<string>Свети Григорије Ниски</string>
	<key>24</key>
	<string>Преподобни Теодосије Велики</string>
	<key>25</key>
	<string>Света мученица Татијана</string>
	<key>26</key>
	<string>Свети мученици Ермил и Стратоник (Оданије Богојављења)</string>
	<key>27</key>
	<string>+++ СВЕТИ САВА - ПРВИ АРХИЕПИСКОП СРПСКИ</string>
	<key>28</key>
	<string>Преподобни Павле</string>
	<key>29</key>
	<string>Часне вериге Светог aпостола Петра</string>
	<key>3</key>
	<string>Света мученица Јулијана</string>
	<key>30</key>
	<string>Преподобни Антоније Велики</string>
	<key>31</key>
	<string>Свети Атанасије Велики</string>
	<key>4</key>
	<string>Света великомученица Анастасија</string>
	<key>5</key>
	<string>Светих 10 мученика Критских</string>
	<key>6</key>
	<string>Света преподобномученица Евгенија - Бадњи данe</string>
	<key>7</key>
	<string>+++ РОЖДЕСТВО ХРИСТОВО - БОЖИЋ</string>
	<key>8</key>
	<string>+++ САБОР ПРЕСВЕТЕ БОГОРОДИЦЕ</string>
	<key>9</key>
	<string>+++ СВЕТИ ПРВОМУЧЕНИК И АРХИЂАКОН СТЕФАН</string>
</dict>
</plist>
