<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Св. пророк Јоил; преподоб. Прохор Пчињски; Јован Рилски</string>
	<key>10</key>
	<string>Свети мученик Терентије</string>
	<key>11</key>
	<string>Свети Аврамије Затворник; преподобномученица Анастасија Римљанка</string>
	<key>12</key>
	<string>Свети краљ Милутин</string>
	<key>13</key>
	<string>Свети апостоли Стахије, Амплије, Урван и други с њима</string>
	<key>14</key>
	<string>Свети Козма и Дамјан - Врачеви</string>
	<key>15</key>
	<string>Свети мученици Акиндин, Пигасије и други с њима</string>
	<key>16</key>
	<string>Пренос моштију Св. Георгија - ЂУРЂИЦ</string>
	<key>17</key>
	<string>Преподобни Јоаникије Велики; свештеномученик Никандар</string>
	<key>18</key>
	<string>Преподобномученик Галактион и Епистима</string>
	<key>19</key>
	<string>Свети Павле Исповедник; преподобни Варлам Хутински</string>
	<key>2</key>
	<string>Свети великомученик Артемије</string>
	<key>20</key>
	<string>Свети мученик Јарон и св. 33 мученика у Мелитини; преподобни Лазар</string>
	<key>21</key>
	<string>+++ САБОР СВ. АРХАНГЕЛА МИХАИЛА - АРАНЂЕЛОВДАН</string>
	<key>22</key>
	<string>Свети мученици Онисифор и Порфирије; свети Нектарије Егински</string>
	<key>23</key>
	<string>Свети апостоли Олимп, Ераст, Родион и други с њима</string>
	<key>24</key>
	<string>Свети мученик Мина; свети краљ Стефан Дечански - Мратиндан</string>
	<key>25</key>
	<string>Свети Јован Милостиви; преподобни Нил Синајски</string>
	<key>26</key>
	<string>Свети Јован Златоусти</string>
	<key>27</key>
	<string>Свети апостол Филип (Божићне покладе)</string>
	<key>28</key>
	<string>Свети мученици Гурије, Самон и Авив (Почетак поста)</string>
	<key>29</key>
	<string>Свети апостол и јеванђелист Матеј</string>
	<key>3</key>
	<string>Преподобни Иларион; свети Иларион; свети Исповедник Висарион</string>
	<key>30</key>
	<string>Свети Григорије Чудотворац; Свети Никон Радоњешки</string>
	<key>4</key>
	<string>Свети равноапостолни Аверкије јерапољски</string>
	<key>5</key>
	<string>Свети апостол Јаков, први епископ Јерусалимски - Митровске (затворене) задушнице</string>
	<key>6</key>
	<string>Свети мученик Арета</string>
	<key>7</key>
	<string>Свети мученици Маркијан и Мартирије</string>
	<key>8</key>
	<string>+++ СВЕТИ ВЕЛИКОМУЧЕНИК ДИМИТРИЈЕ - МИТРОВДАН</string>
	<key>9</key>
	<string>Свети мученик Нестор</string>
</dict>
</plist>
