<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Свети мученик Андреј Стратилат</string>
	<key>10</key>
	<string>Преподобни Мојсеј Мурин</string>
	<key>11</key>
	<string>+++ УСЕКОВАЊЕ ГЛАВЕ СВЕТОГ ЈОВАНА КРСТИТЕЉА</string>
	<key>12</key>
	<string>Пренос моштију светог Александра Невског</string>
	<key>13</key>
	<string>Полагање појаса Пресвете Богородице; Св. мученици јасеновачки</string>
	<key>14</key>
	<string>Преподобни Симеон Столпник - црквена Нова година</string>
	<key>15</key>
	<string>Свети мученик Мамант</string>
	<key>16</key>
	<string>Свети свештмуч. Антим; свети Јоаникије, Први Патријарх српски</string>
	<key>17</key>
	<string>Св. свмуч. Вавила; пророк Мојсеј Боговидац; свети Петар Дабробосански</string>
	<key>18</key>
	<string>Свети пророк Захарије и праведна Јелисавета</string>
	<key>19</key>
	<string>Чудо светог архангела Михаила; свети мученик Евдоксије</string>
	<key>2</key>
	<string>Свети пророк Самуило</string>
	<key>20</key>
	<string>Свети мученик Созонт (Претпразништво Рођења Пресвете Богородице)</string>
	<key>21</key>
	<string>+++ РОЂЕЊЕ ПРЕСВЕТЕ БОГОРОДИЦЕ - МАЛА ГОСПОЈИНА</string>
	<key>22</key>
	<string>Свети праведни Јоаким и Ана</string>
	<key>23</key>
	<string>Свете мученице Минодора, Митродора и Нимфодора</string>
	<key>24</key>
	<string>Преподобна Теодора</string>
	<key>25</key>
	<string>Св. свештеномученик Автоном (Оданије Рођења Пресвете Богородице)</string>
	<key>26</key>
	<string>Свети свештеномученик Корнилије (Претпразништво Воздвижења)</string>
	<key>27</key>
	<string>+++ ВОЗДВИЖЕЊЕ ЧАСНОГ КРСТА - КРСТОВДАН</string>
	<key>28</key>
	<string>Свети великомученик Никита</string>
	<key>29</key>
	<string>Св. великомуч. Јефимија</string>
	<key>3</key>
	<string>Св. апостол Тадеј; св. муч. Васа са децом; св. муч. Рафаило Шишатовачки</string>
	<key>30</key>
	<string>Свете мученице Вера, Нада и Љубав и мајка им Софија</string>
	<key>4</key>
	<string>Свети мученик Агатоник</string>
	<key>5</key>
	<string>Свети свештеномученик Иринеј</string>
	<key>6</key>
	<string>Свети свештеномученик Евтихије</string>
	<key>7</key>
	<string>Пренос мошт. св. ап. Вартоломеја</string>
	<key>8</key>
	<string>Свети мученици Адријан и Наталија</string>
	<key>9</key>
	<string>Преподобни Пимен Велики</string>
</dict>
</plist>
