<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Светих дванаест мученика</string>
	<key>10</key>
	<string>Свети Тарасије, патријарх Цариградски</string>
	<key>11</key>
	<string>Свети Порфирије, епископ Гаски</string>
	<key>12</key>
	<string>Преподобни Прокопије Декаполит</string>
	<key>13</key>
	<string>Преподобни Василије исповедник</string>
	<key>14</key>
	<string>Света преподобномученица Евдокија</string>
	<key>15</key>
	<string>Свештеномученик Теодот, епископ киринијски, на острву Кипру</string>
	<key>16</key>
	<string>Свети мученици Евтропије, Клеоник и Василиск</string>
	<key>17</key>
	<string>Преподобни Герасим Јордански</string>
	<key>18</key>
	<string>Свети мученик Конон Исавријски</string>
	<key>19</key>
	<string>Света 42 мученика Аморејска</string>
	<key>2</key>
	<string>Свети великомученик Теодор Тирон</string>
	<key>20</key>
	<string>Светих седам свештеномученика херсонских</string>
	<key>21</key>
	<string>Свети Теофилакт, епископ никомидијски</string>
	<key>22</key>
	<string>Св. ЧЕТРДЕСЕТ МУЧЕНИКА - МЛАДЕНЦИ</string>
	<key>23</key>
	<string>Свети мученик Кодрат Коринтски и други с њим</string>
	<key>24</key>
	<string>Свети Софроније Јерусалимски</string>
	<key>25</key>
	<string>Преподони Теофан исповедник</string>
	<key>26</key>
	<string>Свети Никифор, патријарх цариградски</string>
	<key>27</key>
	<string>Преподобни Бенедикт Нурсијски</string>
	<key>28</key>
	<string>Свети мученик Агапије и седморица с њим</string>
	<key>29</key>
	<string>Свети апостол Аристовул</string>
	<key>3</key>
	<string>Свети Лав I, папа римски</string>
	<key>30</key>
	<string>Св. АЛЕКСИЈЕ - ЧОВЕК БОЖЈИ</string>
	<key>31</key>
	<string>Свети Кирил Јерусалимски</string>
	<key>4</key>
	<string>Свети апостоли Архип, Филимон и Апфија</string>
	<key>5</key>
	<string>Свети Лав, епископ Катански</string>
	<key>6</key>
	<string>Преподобни Тимотеј</string>
	<key>7</key>
	<string>Свети мученик Маврикије и седамдесет војника</string>
	<key>8</key>
	<string>Свети свештеномученик Поликарп, епископ Смирнски</string>
	<key>9</key>
	<string>Обретење главе Светог Јована Крститеља</string>
</dict>
</plist>
