<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Преподобни Јован</string>
	<key>10</key>
	<string>Спаљивање моштију Светог Саве на Врачару</string>
	<key>11</key>
	<string>Св. апостоли Јасон и Сосипатер, и Керкира девица</string>
	<key>12</key>
	<string>Свети Василије Острошки</string>
	<key>13</key>
	<string>Св. апостол Јаков Заведејев</string>
	<key>14</key>
	<string>Свети пророк Јеремија</string>
	<key>15</key>
	<string>Свети Атанасије Велики</string>
	<key>16</key>
	<string>Свети мученици Тимотеј и Мавра</string>
	<key>17</key>
	<string>Света мученица Пелагија Тарсијска</string>
	<key>18</key>
	<string>Света великомученица Ирина</string>
	<key>19</key>
	<string>Свети праведни и многострадални Јов</string>
	<key>2</key>
	<string>Преподобни Јован Ветхопештерник</string>
	<key>20</key>
	<string>Појава Часног Крста у Јерусалиму</string>
	<key>21</key>
	<string>Свети Јован Богослов, апостол и јеванђелист</string>
	<key>22</key>
	<string>ПРЕНОС МОШТИЈУ Св. НИКОЛЕ</string>
	<key>23</key>
	<string>Свети апостол Симон Зилот</string>
	<key>24</key>
	<string>Св. ЋИРИЛО И МЕТОДИЈЕ</string>
	<key>25</key>
	<string>Свети Епифаније, епископ кипарски</string>
	<key>26</key>
	<string>Света мученица Гликерија</string>
	<key>27</key>
	<string>Свети мученик Исидор</string>
	<key>28</key>
	<string>Преподобни Пахомије Велики</string>
	<key>29</key>
	<string>Преподобни Теодор Освештани</string>
	<key>3</key>
	<string>Преподобни Теодор Трихина</string>
	<key>30</key>
	<string>Свети апостол Андроник и Јунија</string>
	<key>31</key>
	<string>Свети мученик Теодор Анкирски</string>
	<key>4</key>
	<string>Свети свештеномученик Јануарије</string>
	<key>5</key>
	<string>Преподобни Теодор Сикеот</string>
	<key>6</key>
	<string>Свети велико мученик Ђорђе</string>
	<key>7</key>
	<string>Свети мученик Сава Стратилат</string>
	<key>8</key>
	<string>Свети апостол и јеванђелист Марко</string>
	<key>9</key>
	<string>Свештеномученик Василије епископ Амасијски</string>
</dict>
</plist>
