<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Преподобни Макарије Египатски</string>
	<key>10</key>
	<string>Преподобни Јефрем Сирин</string>
	<key>11</key>
	<string>Пренос моштију светог Игњатија Богоносца</string>
	<key>12</key>
	<string>Света Три Јерарха</string>
	<key>13</key>
	<string>Свети бесребреници Кир и Јован</string>
	<key>14</key>
	<string>Свети мученик Трифун</string>
	<key>15</key>
	<string>Сретење Господње</string>
	<key>16</key>
	<string>Свети Симеон Богопримац</string>
	<key>17</key>
	<string>Преподобни Исидор Пелусиот</string>
	<key>18</key>
	<string>Света мученица Агатија</string>
	<key>19</key>
	<string>Свети Фотије, патријарх цариградски</string>
	<key>2</key>
	<string>Преподобни Јевтимије Велики</string>
	<key>20</key>
	<string>Свети Партеније, епископ лампсакијски</string>
	<key>21</key>
	<string>Свети великомученик Теодор Стратилат</string>
	<key>22</key>
	<string>Свети мученик Никифор</string>
	<key>23</key>
	<string>Свештеномученик Харалампије</string>
	<key>24</key>
	<string>Свештеномученик Власије</string>
	<key>25</key>
	<string>Свети Мелетије, архиепископ антиохијски</string>
	<key>26</key>
	<string>Преподобни Симеон Мироточиви - Стефан Немања</string>
	<key>27</key>
	<string>Преподобни Авксентије</string>
	<key>28</key>
	<string>Свети апостол Онисим</string>
	<key>29</key>
	<string>Преподобни Јован Касиан.</string>
	<key>3</key>
	<string>Преподобни Максим Исповедник</string>
	<key>4</key>
	<string>Свети апостол Тимотеј</string>
	<key>5</key>
	<string>Свештеномученик Климент, епископ анкирски</string>
	<key>6</key>
	<string>Преподобна Ксенија Римљанка</string>
	<key>7</key>
	<string>Свети Григорије Богослов, архиепископ цариградски</string>
	<key>8</key>
	<string>Преподобни Ксенофонт и Марија, и синови њихови Јован и Аркадије</string>
	<key>9</key>
	<string>Свети Јован Златоуст, златна труба Православља</string>
</dict>
</plist>
