<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Свети мученик Платон</string>
	<key>10</key>
	<string>Свети мученик Јаков Персијанац</string>
	<key>11</key>
	<string>Преподобномученик Стефан</string>
	<key>12</key>
	<string>Свети мученици Парамон и Филумен и других 370</string>
	<key>13</key>
	<string>Свети апостол Андреја Првозвани</string>
	<key>14</key>
	<string>Свети пророк Наум</string>
	<key>15</key>
	<string>Свети пророк Авакум</string>
	<key>16</key>
	<string>Свети пророк Софоније</string>
	<key>17</key>
	<string>Света великомученица Варвара</string>
	<key>18</key>
	<string>Преподобни Сава Освећени-Детињци</string>
	<key>19</key>
	<string>Свети Николај Чудотворац, архиепископ мирликијски</string>
	<key>2</key>
	<string>Свети пророк Авдија</string>
	<key>20</key>
	<string>Свети Амвросије, епископ медиолански (милански)</string>
	<key>21</key>
	<string>Преподобни Патапије</string>
	<key>22</key>
	<string>Зачеће свете Ане</string>
	<key>23</key>
	<string>Свети мученици Мина, Ермоген и Евграф</string>
	<key>24</key>
	<string>Преподобни Данило Столпник</string>
	<key>25</key>
	<string>Преподобни Спиридон Чудотворац, епископ тримифунтски-Материце</string>
	<key>26</key>
	<string>Свети мученици Евстратије, Аксентије, Евгеније, Мардарије и Орест</string>
	<key>27</key>
	<string>Свети мученици Тирс, Левкије и Калиник</string>
	<key>28</key>
	<string>Свети свештеномученик Елевтерије</string>
	<key>29</key>
	<string>Свети пророк Агеј</string>
	<key>3</key>
	<string>Преподобни Григорије Декаполит</string>
	<key>30</key>
	<string>Свети пророк Данил и три отрока: Ананије, Азарије и Мисаил</string>
	<key>31</key>
	<string>Свети мученик Севастијани други с њим</string>
	<key>4</key>
	<string>Ваведење Пресвете Богородице</string>
	<key>5</key>
	<string>Света Мученица Кикилија (Цицилија)</string>
	<key>6</key>
	<string>Свети Амфилохије епископ Иконијски</string>
	<key>7</key>
	<string>Света великомученица Екатерина</string>
	<key>8</key>
	<string>Свештеномученик Климент епископ Римски</string>
	<key>9</key>
	<string>Преподобни Алимпије Столпник</string>
</dict>
</plist>
