<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Свети Евменије Гортински</string>
	<key>10</key>
	<string>Свети мученик Калистрат</string>
	<key>11</key>
	<string>Преподобни Харитон Исповедник</string>
	<key>12</key>
	<string>Преподобни Киријак Отшелник - Михољдан</string>
	<key>13</key>
	<string>Свети свештеномученик Григорије</string>
	<key>14</key>
	<string>Покров Пресвете Богородице</string>
	<key>15</key>
	<string>Свети свештеномученик Кипријан</string>
	<key>16</key>
	<string>Свети свештеномученик Дионисије Ареопагит</string>
	<key>17</key>
	<string>Свети Стефан и Јелена (Штиљановић)</string>
	<key>18</key>
	<string>Света мученица Харитина</string>
	<key>19</key>
	<string>Свети апостол Тома - Томиндан</string>
	<key>2</key>
	<string>Свети мученици Трофим, Саватије и Доримедонт</string>
	<key>20</key>
	<string>Свети мученици Сергије и Вакхо - Срђевдан</string>
	<key>21</key>
	<string>Преподобна Пелагија-Преподобна Таиса</string>
	<key>22</key>
	<string>Свети апостол Јаков; свети Стефан српски (Слепи)</string>
	<key>23</key>
	<string>Свети мученици Евлампије и Евлампија</string>
	<key>24</key>
	<string>Свети апостол Филип, ђакон</string>
	<key>25</key>
	<string>Свети мученици Тарах, Пров и Андроник</string>
	<key>26</key>
	<string>Свети мученик Карп</string>
	<key>27</key>
	<string>+++ ПРЕПОДОБНА МАТИ ПАРАСКЕВА - СВЕТА ПЕТКА</string>
	<key>28</key>
	<string>Свети свештеномученик Лукијан</string>
	<key>29</key>
	<string>Свети мученик Лонгин Сотник</string>
	<key>3</key>
	<string>Свети великомученик Јевстатије</string>
	<key>30</key>
	<string>Свети пророк Осија; преподобномученик Андреј Критски</string>
	<key>31</key>
	<string>Свети апостол и јеванђелист Лука; +++ СВЕТИ ПЕТАР ЦЕТИЊСКИ</string>
	<key>4</key>
	<string>Свети апостол Кодрат (Оданије Воздвижења)</string>
	<key>5</key>
	<string>Свети свештеномученик Фока</string>
	<key>6</key>
	<string>Зачеће светог Јована Претече и Крститеља</string>
	<key>7</key>
	<string>Света првомученица Текла</string>
	<key>8</key>
	<string>Преподобна Ефросинија</string>
	<key>9</key>
	<string>Свети апостол и јеванђелист Јован Богослов</string>
</dict>
</plist>
