<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Свети мученици Леонтије, Ипатије и Теодул</string>
	<key>10</key>
	<string>Преподобни Сампсон Странопримац</string>
	<key>11</key>
	<string>Пренос моштију св. бесребреника Кира и Јована- Сабор новомученика Дабробосанских и Милешевских</string>
	<key>12</key>
	<string>+++ СВЕТИ АПОСТОЛИ ПЕТАР И ПАВЛЕ - ПЕТРОВДАН</string>
	<key>13</key>
	<string>Сабор светих дванаест апостола - Павловдан</string>
	<key>14</key>
	<string>Свети мученици и бесребреници Козма и Дамјан</string>
	<key>15</key>
	<string>Полагање ризе Пресвете Богородице</string>
	<key>16</key>
	<string>Свети мученик Јакинт</string>
	<key>17</key>
	<string>Свети Андреј Критски - Свети свештеномученик Сава Горњокарловачки</string>
	<key>18</key>
	<string>Преподобни Атанасије Атонски</string>
	<key>19</key>
	<string>Преподобни Сисоје Велики</string>
	<key>2</key>
	<string>Свети апостол Јуда</string>
	<key>20</key>
	<string>Света мученица Недеља</string>
	<key>21</key>
	<string>Свети великомученик Прокопије</string>
	<key>22</key>
	<string>Свештеномученик Панкратије</string>
	<key>23</key>
	<string>Светих 45 мученика из Никопоља-Преподобни Антоније Печерски-Пренос чесне ризе Господа нашег Исуса Христа</string>
	<key>24</key>
	<string>Света великомученица Ефимија</string>
	<key>25</key>
	<string>Св. муч. Прокло и Иларије; икона Пресвете Богородице Тројеручице</string>
	<key>26</key>
	<string>Сабор светог архангела Гаврила</string>
	<key>27</key>
	<string>Свети апостол Акила</string>
	<key>28</key>
	<string>Свети мученици Кирик и Јулита</string>
	<key>29</key>
	<string>Свештеномученик Атиноген</string>
	<key>3</key>
	<string>Свети свештеномученик Методије</string>
	<key>30</key>
	<string>Света великомученица Марина - Огњена Марија</string>
	<key>31</key>
	<string>Свети мученик Емилијан - Свети мученик Јакинт</string>
	<key>4</key>
	<string>Свети мученик Јулијан Тарсијски</string>
	<key>5</key>
	<string>Свети свештеномученик Јевсевије; преподобна Анастасија Српска</string>
	<key>6</key>
	<string>Света мученица Агрипина</string>
	<key>7</key>
	<string>+++ РОЂЕЊЕ СВЕТОГ ЈОВАНА ПРЕТЕЧЕ - ИВАЊДАН</string>
	<key>8</key>
	<string>Света преподобномученица Февронија</string>
	<key>9</key>
	<string>Преподобни Давид Солунски</string>
</dict>
</plist>
